@import "./mixins.scss";

// boder
.boder-rounded {
  border-radius: $boder-radius;
}
.boder-rounded-top {
  border-radius: $boder-radius $boder-radius 0 0;
}
.boder-rounded-bottom {
  border-radius: 0 0 $boder-radius $boder-radius;
}
.boder-circle {
  border-radius: 50%;
}

// show and hide
.show {
  display: inline !important;
}
.hide {
  display: none !important;
}

// overflow
.overflow-auto {
  overflow: auto;
}
.overflow-hidden {
  overflow: hidden;
}

// mask
.mask {
  position: fixed;
  z-index: 1000;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
}

// center
.content-cross-center {
  position: fixed;
  z-index: 5000;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(0, -50%);
  transform: translate(-50%, -50%);
}
.content-stand-center {
  margin-left: auto;
  margin-right: auto;
}
.content-abreast-center {
  display: inline-block;
  vertical-align: middle;
}

.wrap-vh-center {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

// fixed
.fixed-top {
  @include fixed;
  top: 0;
}
.fixed-bottom {
  @include fixed;
  bottom: 0;
}

// img fill
.object-cover {
  object-fit: cover;
}
.object-contain {
  object-fit: contain;
}
.object-fill {
  object-fit: fill;
}
.object-scale-down {
  object-fit: scale-down;
}

// triangle
.triangle {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 20px solid black;
}

// css hardware accelerated
.cube-3d {
  -webkit-transform: translate3d(250px, 250px, 250px) rotate3d(250px, 250px, 250px, -120deg) scale3d(0.5, 0.5, 0.5);
}
.cube {
  @if $platform == mobile {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    /* Other transform properties here */
  } @else {
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
  }
}
.cube-glint {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  -ms-perspective: 1000;
  perspective: 1000;
  /* Other transform properties here */
}

// mobile 1px bug
.row-1px {
  @if $platform == mobile {
    position: relative;
    &:after {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 200%;
      border-bottom: 1px solid #e6e6e6;
      color: #000;
      height: 200%;
      -webkit-transform-origin: left top;
      transform-origin: left top;
      -webkit-transform: scale(0.5);
      transform: scale(0.5);
      pointer-events: none;
      box-sizing: border-box;
    }
  }
}

// skeletons
.skeletons {
  position: relative;
  display: block;
  overflow: hidden;
  height: 100%;
  min-height: 20px;
  background-color: #ededed;
}
.skeletons:empty::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  background: linear-gradient(90deg, transparent, rgba(216, 216, 216, 0.753), transparent);
  -webkit-animation: loading 1.5s infinite;
  animation: loading 1.5s infinite;
}
@-webkit-keyframes loading {
  100% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
}
@keyframes loading {
  100% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
}

// image broken
img {
  position: relative;
  display: block;
  text-align: center;
  width: 100%;
  height: 100%;
}

img::after {
  content: "";
  font-size: 18px;
  background: #a8a8a8;
  color: #ffffff;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

// grey and white background
html {
  @if $htmlGray {
    filter: gray !important;
    filter: progid:DXImageTransform.Microsoft.BasicImage(grayscale=1);
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
  }
}
