// @param {String} "pc","mobile"
$platform: mobile;

// @param {Boolean} "true","false"
$use-rem: false;
// @description Mobile design draft width size.
// @param {Number} 750, 640, or other size.
$rem-ui-width: 750;

$red: #ff0000;
$white: #ffffff;
$black: #000000;
$grey: #808080;
$text-font: #333333;

$boder-radius: 4px;

$multi-ellipsis-width: 100px;
$multi-ellipsis-heigh: 50px;
$multi-ellipsis-line: 2;
