// @param "pc","mobile"
$platform: mobile;

$red: #ff0000;
$white: #ffffff;
$black: #000000;
$grey: #808080;
$text-font: #333333;

$boder-radius: 4px;

$multi-ellipsis-width: 100px;
$multi-ellipsis-heigh: 50px;
$multi-ellipsis-line: 2;
